<!DOCTYPE html>
<html>
   <head>
  
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "bootstrap-combined.min.css" %>
<%= stylesheet_link_tag "layoutit.css" %>
      <link href="http://www.w3cschool.cc/try/bootstrap/layoutit/css/bootstrap-combined.min.css" rel="stylesheet">
      <link href="http://www.w3cschool.cc/try/bootstrap/layoutit/css/layoutit.css" rel="stylesheet">

 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <script src="https://code.jquery.com/jquery.js"></script>
      
<div class="container">
  <div class="row">



<p>
  <strong>User:</strong>
  <%= @user.uname %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if @user.role == "QA" %>
     <%= link_to 'New user', new_user_path %>
<% end %>



<%= form_for :eod, url: new_user_eod_path(@user) do |f| %>   


<input type="Date" name="eod[Date]" id="eod_Date" />
<input type="submit" name="commit" value="Try Eod" />

<% end %>

<table class="table table-hover table-striped">
<% @daysD.each do |day| %>
    <tr class="success">
      <td > 
        <%= form_for :eod, url: new_user_eod_path(@user) do |f| %>   
        <input type="hidden" name="eod[Date]" id="eod_Date" value ="<%= day %>"/>
        <input type="submit" name="commit" value= "<%= day %>" />
        <% end %>
      </td>
    </tr>
  <% end %>
<% @daysU.each do |day| %>
    <tr class="error">
     <td >       
        <%= form_for :eod, url: new_user_eod_path(@user) do |f| %>   
        <input type="hidden" name="eod[Date]" id="eod_Date" value ="<%= day %>"/>
        <input type="submit" name="commit" value= "<%= day %>" />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', users_path %>