<!DOCTYPE html>
<html>
   <head>
  
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <script src="https://code.jquery.com/jquery.js"></script>
      
<div class="container">
	<div class="row">
	

<h2>EOD</h2>
     <div class="span12">

<fieldset>


<%= form_for :eod, url: user_eod_path(@eod.user, @eod), method: :patch do |f| %>
<table class="table table-hover table-striped">

   <thead>
      <tr>
         <th colspan="3" rowspan="1">Loc</th>
         <th colspan="2">Amount</th>
         <th>Hours</th>
         <th>Notes</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td rowspan="11"><span>Game Project</span></td>
         <td rowspan="6"><span>In-game</span></td>
         <td><span>Pre-testing</span></td>
         <td colspan="2"> <%= f.text_field :Pre_QA %></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr class="success">
         <td><span>Review</span></td>
         <td colspan="2"><%= f.text_field :Review %></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr class="error">
         <td><span>Testing</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr class="warning">
         <td rowspan="2"><span>Bug Management</span></td>
         <td>Report</td>
         <td>Rtest</td>
         <td rowspan="2"><input type="text" /></td>
         <td rowspan="2"><input type="text" /></td>
      </tr>
      <tr class="warning">
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr class="info">
         <td><span>Audio Testing</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr>
         <td rowspan="3"><span>Non-game</span></td>
         <td><span>Review</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr>
         <td><span>Testing</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr>
         <td><span>Bug Management</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr>
         <td colspan="2"><span>Project Management</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
      <tr>
         <td colspan="2"><span>Other</span></td>
         <td colspan="2"><input type="text" /></td>
         <td><input type="text" /></td>
         <td><input type="text" /></td>
      </tr>
   </tbody>
</table>
<%= f.text_field :Date %>
<%= f.submit %></fieldset>
<% end %>
</div>

      <%= link_to 'Back', users_path %>

